@import '../app.component.scss';

#nav-bar {
    height: 8.5vh;
    width: 100%;
    background-color: $primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: relative;

    img {
        width: 300px;
        cursor: pointer;
    }

    button {
        border-radius: 8px;
        margin-left: 1.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }

    .primaryButton {
        background-color: $onPrimaryAlt;
        color: white;
    }

    .secondaryButton {
        background-color: $onPrimary;
        color: white;
    }

    .menu {
        position: absolute !important;
    }

    .notification-card {
        margin: 1rem;
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }
}

::ng-deep .mat-mdc-menu-panel {
    max-height: 35vh !important;
}