@import '../app.component.scss';

#nav-bar {
    height: 8.5vh;
    width: 100%;
    background-color: $primary;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;

    img {
        width: 300px;
        cursor: pointer;
    }

    button {
        border-radius: 8px;
        margin-left: 1.5rem;
        font-size: 1.3rem;
        font-weight: 600;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }

    .primaryButton {
        background-color: $onPrimaryAlt;
        color: white;
    }

    .secondaryButton {
        background-color: $onPrimary;
        color: white;
    }

    .notification-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%; /* Added to ensure full width */
    }

    .delete-button {
        background-color: transparent;
        color: $error;
        margin-left: auto;
    }
}
::ng-deep {
    .mat-mdc-menu-panel {
        max-width: unset !important;
    }
    .mat-mdc-menu-item-text {
        display: flex;
        align-items: center;
        justify-content: space-between !important;
    }
}
