<mat-toolbar id="nav-bar">
  <img src="../../assets/logo.png" alt="Logo" [routerLink]="['']">
  <div id="navBar_logPart">
    <div *ngIf="!isLoggedIn">
      <button mat-button class="primaryButton" [routerLink]="['auth/register']">Sign up</button>
      <button mat-button class="secondaryButton" [routerLink]="['auth/login']">Log in</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button mat-button class="primaryButton" [routerLink]="['search']">Search</button>
      <button mat-icon-button class="primaryButton" (click)="showNotifications()">
        <mat-icon>notifications</mat-icon>
        <mat-badge [matBadge]="notificationCount" matBadgeColor="warn" matBadgeSize="small"></mat-badge>
      </button>
      <button mat-button class="primaryButton" [routerLink]="['chat']">Chat</button>
      <button mat-button class="primaryButton" [routerLink]="['profile/' + username]">Profile</button>
      <button mat-button class="primaryButton" [routerLink]="['settings']">Settings</button>
      <button mat-button class="secondaryButton" (click)="logOut()">Log out</button>
    </div>
</div>
</mat-toolbar>