<mat-toolbar id="nav-bar">
    <button mat-button class="primaryButton" [routerLink]="['']">Home</button>
    <div id="navBar_logPart">
      <div *ngIf="!isLoggedIn">
        <button mat-button class="primaryButton" [routerLink]="['auth/register']">Sign up</button>
        <button mat-button class="secondaryButton" [routerLink]="['auth/login']">Log in</button>
      </div>
      <div *ngIf="isLoggedIn">
        <button mat-button class="primaryButton" [routerLink]="['']">Profil</button>
        <button mat-button class="secondaryButton" (click)="logOut()">Log out</button>
      </div>
    </div>
</mat-toolbar>